* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #B6E5E5;
    margin: 40px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: 1px solid black;
}

.header .logo {
    width: 100%;
}

.header .logo {
    width: 250px;
}

.header .profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile .img-user{
    width: 50px;
}

.profile span{
    color: #205236;
    font-size: 1rem;
    font-weight: 400;
}

