.conteudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 28px;
}

.conteudo .info-pessoal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.info-pessoal .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    border: 3px solid #B6E5E5;
}

.info-pessoal .foto img {
    width: 96px;
    height: 96px;
    border-radius: 14px;
    object-fit: cover;
}

.info-pessoal .lista-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info-pessoal .lista-info .dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.info-pessoal .lista-info .dados p {
    color: #ffffff;
    font-size: 14px;
}

.info-pessoal .lista-info .dados img {
    width: 22px;
    flex-shrink: 0;
}

/* Conteudo direita */
.conteudo .container-direita {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.prox-consultas {
    gap: 12px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: #B6E5E5;
}

.prox-consultas h2 {
    color: #205236;
    font-size: 1rem;
}

.prox-consultas .data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.prox-consultas .data p {
    color: #205236;
    font-size: 14px;
}

.prox-consultas .data img {
    width: 6px;
    flex-shrink: 0;
}

.notify {
    gap: 12px;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: #B6E5E5;
}

.notify h2 {
    color: #205236;
    font-size: 1rem;
}

.notify .conteudo-notify {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.notify p {
    color: #205236;
    font-size: 14px;
}

.notify img {
    width: 24px;
}