.conteudo{
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.conteudo .marcacoes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo .marcacoes ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.conteudo .marcacoes li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.conteudo h2{
    color: white;
}


.conteudo .marcacoes p{
    color: white;
} 

.conteudo .marcacoes img{
    width: 10px;
    height: 10px;
}